/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 *
 *= require trix
*/

/*
 * We need to override trix.css’s image gallery styles to accommodate the
 * <action-text-attachment> element we wrap around attachments. Otherwise,
 * images in galleries will be squished by the max-width: 33%; rule.
*/
.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment, .trix-content .attachment-gallery.attachment-gallery--4 > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

/* Action Textのコンテナ全体 */
.trix-content {
  line-height: 1.6;
}

/* 添付された画像を囲む <figure> 要素 (より具体的に指定) */
.trix-content figure.attachment {
  /* ここで画像の最大表示幅を好きな値に設定してください */
  max-width: 300px !important;
  
  /* 中央寄せにする場合 */
  margin: 2rem auto !important; 
}

/* 画像そのもの <img> */
.trix-content figure.attachment img {
  /* 画像は常に親要素(figure)の幅いっぱいに広がるようにするのがベストです */
  width: 100% !important; 
  height: auto;
  border-radius: 8px;
}

/* 画像の下のキャプション（ファイル名とサイズ）を非表示にする */
.trix-content figure.attachment figcaption {
  display: none !important;
}