<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">
      <%= link_to "つつうらじお", root_path, class: "text-decoration-none" %>
      &copy; <%= Time.now.year %>
    </span>
  </div>
</footer>